* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 3em;
  margin: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.articleCard {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
  border: 20px outset;
  border-radius: 5px;
  color: black;
  font-family: sans-serif;
  background: linear-gradient(90deg, rgb(229, 235, 190), rgb(231, 168, 231));
  box-shadow: 5px, 5px, 10px, 0px, #0000;
}
.article__title {
  font-size: 1.4em;
  text-decoration: none;
}
.article__id {
}
.article__topic {
}

.article__autor {
}

.article__comments {
}

.article__date {
}

.comments {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
  border: 20px outset;
  color: black;
  font-family: sans-serif;
}

.comment__title {
  /* font-size: 30px;  ?? */
}

.comment__autor {
}

.comment__votes {
}

.comment_date {
}

.button {
  padding: 10px;
  border: double;
  color: black;
  font-family: sans-serif;
  align-items: center;
  background-color: #3badca;
}

/* .input-group-ammend {
  display: flex;
  justify-content: space-evenly;
 
} */
